---
import Layout from '../layouts/Layout.astro';
import VueButton from '../features/requests/VueButton.vue';
import NavBar from '../components/NavBar.astro';
import TableTitle from '../components/TableTitle.astro';
import { ReactTable } from '../features/visuals/ReactTable';
---

<Layout title='button'>
  <NavBar />
  <TableTitle />
  <div class='getButton'>
    <VueButton client:only='vue' />
  </div>
  <ReactTable client:only='react' />
</Layout>

<style>
  .getButton {
    margin-left: 2rem;
  }
</style>
