---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import VueTable from '../features/visuals/VueTable.vue';
import { ReactButton } from '../features/requests/ReactButton';
import TableTitle from '../features/visuals/TableTitle.astro';
---

<Layout title='button'>
  <NavBar />
  <TableTitle />
  <div class='getButton'>
    <ReactButton client:only='react' />
  </div>
  <VueTable client:only='vue' />
</Layout>

<style>
  .getButton {
    margin-left: 2rem;
  }
</style>
