---
import { routeBase } from '../util/routing';
---

<ul>
  <li><a href={`${routeBase}/react`}>React Micro Frontend</a></li>
  <li><a href={`${routeBase}/ReactSharedPage`}>react shared page</a></li>
  <li><a href={`${routeBase}/reactButtonPage`}>React button</a></li>
  <li><a href={`${routeBase}/ReactTablePage`}>React table</a></li>
</ul>
<style>
  ul {
    display: flex;
    background-color: cadetblue;
    padding: 0;
    margin: 0;
    height: 10%;
    justify-content: center;
  }
</style>
